---
import Project from "./Project.astro";

const projects = [
  {
    //Familia Dardanelli
    src: "/img/familiadardanelli.png",
    alt: "Familia Dardanelli wine page preview",
    title: "Familia Dardanelli - Wine Page",
    description: "Build and desing a responsive wine page using Next.js and MercadoPago Checkout Pro",
    hrefProject: "https://www.familiadardanelli.com.uy/",
    hrefGitHub: "",
  },
  {
    //Vinos Casa Grande
    src: "/img/vinoscasagrande.png",
    alt: "Vinos Casa Grande e-commerce preview",
    title: "Vinos Casa Grande - E-commerce",
    description: "Build and desing a responsive wine e-commerce using Next.js, Shopify and MercadoPago Checkout Pro",
    hrefProject: "https://www.vinoscasagrande.com/",
    hrefGitHub: "",
  },
  {
    //Basement Challenge
    src: "/img/basementchallenge.png",
    alt: "basement preview",
    title: "Basement Challenge",
    description: "Responsive e-commerce from a figma design",
    hrefProject:"https://bsmnt.nicolasamoroso.com/",
    hrefGitHub:"https://github.com/nicolasamoroso/basement-challenge"
  },
  {
    //JAP
    src: "/img/ecommerce.png",
    alt: "E-commerce preview",
    title: "e-mercado",
    description: "'Jovenes a Programar' Program course project'",
    hrefProject:"https://jap.nicolasamoroso.com/",
    hrefGitHub:"https://github.com/nicolasamoroso/ecommerceRes"
  },
]
---

<section class="relative z-50 mt-15 md:mt-10 flex flex-col gap-5">
  <h1 class="text-xl md:text-3xl font-medium">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {projects.map(({src, alt, title, description, hrefProject, hrefGitHub}) => 
      <Project 
        src={src}
        alt={alt}
        title={title}
        description={description}
        hrefProject={hrefProject}
        hrefGitHub={hrefGitHub}
      />
    )}
  </div>
</section>

